<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
        <header>
            <H1>Registration Form</H1>
        </header>
        <hr>
        <div class="form-box">
            <form  id="form">
                <div class="name">
                    <h3>Name</h3>
                    <input type="text" id="name" value="">
                </div>
                <div class="mobile">
                    <h3>Mobile no.</h3>
                    <input type="number" id="mobile" value="">
                </div>
                <div class="email">
                    <h3>E-mail</h3>
                    <input type="email" id="email" value="">
                </div>
                <button type="submit" id="submit">submit</button>
            </form>
        </div>
        <div class="data-display" id="data-display">

        </div>
        <script src="../public/js/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>